<div class="flex flex-col items-center">
    <h1>WebSocket Chat</h1>
    <h2>Your ID: <span id="ws-id"></span></h2>
    <form action="" onsubmit="sendMessage(event)">
        <input class="bg-green-300" type="text" id="messageText" autocomplete="off" />
        <input class="bg-green-300" type="text" id="roomIdInput" placeholder="Room ID" />
        <input class="bg-green-300" type="text" id="clientIdInput" placeholder="Client ID" />
        <button type="button" onclick="connectToWebSocket()">Connect</button>
        <button type="submit">Send</button>
    </form>
    <ul id="messages"></ul>
</div>
<script>
    let ws = null;

    function appendMessage(msg) {
        let messages = document.getElementById('messages');
        let message = document.createElement('li');
        let content = document.createTextNode(msg);
        message.appendChild(content);
        messages.appendChild(message);
    }

    function connectToWebSocket() {
    const roomId = document.getElementById("roomIdInput").value;
    const clientId = document.getElementById("clientIdInput").value;
    if (!roomId) {
        appendMessage("Room ID is required.");
        return;
    }

    if (ws && ws.readyState === WebSocket.OPEN) {
        appendMessage("Already connected to a session.");
        return;
    }

    ws = new WebSocket(`ws://localhost:5001/ws/${roomId}/${clientId || Date.now()}`);
    ws.onopen = function () {
        appendMessage("Connected to the session.");
        getLastMessages(roomId); // Передайте ID комнаты
    };

    ws.onmessage = function (event) {
        appendMessage(event.data);
    };

    ws.onerror = function () {
        appendMessage("Connection error.");
    };
}

    function sendMessage(event) {
        if (!ws || ws.readyState !== WebSocket.OPEN) {
            appendMessage("Connection not found. Please connect first.");
            return;
        }

        let input = document.getElementById("messageText");
        const message = input.value.trim(); // Trim to check for empty message
        if (!message) {
            appendMessage("Message cannot be empty.");
        } else {
            ws.send(message);
        }
        input.value = '';
        event.preventDefault();
    }

    async function getLastMessages(roomId) { 
    if (ws && ws.readyState === WebSocket.OPEN) {
        const url = `http://localhost:5001/last_messages/${roomId}`; 
        const response = await fetch(url, {
            method: 'GET'
        });
        const messages = await response.json();
        appendMessage("Previous messages:");
        messages.forEach(msg => {
            appendMessage(msg.message);
        });
        appendMessage("New messages:");
    }
}
</script>
